.ax {
    font-weight: 700;
    color: white;
    font-family: "Ubuntu";
}

.it {
    font-weight: 300;
    color: darkorange;
    font-family: "Ubuntu";
}

#navbar {
    background-image: none;
    background-color: black;
    margin: 0;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
}

.navbar-brand {
    margin-bottom: 25px;
}

#navbar .navbar-header>.navbar-brand {
    padding-left: 45px;
    font-size: 35px;
    display: table-cell;
    vertical-align: middle;
}

#navbar .navbar-header>.navbar-brand>span {
    display: table-cell;
    vertical-align: middle;
}

#navbar .navbar-collapse>.navbar-right {
    margin-right: 0;
}

#navbar .navbar-collapse>.navbar-right>li {
    margin-left: 20px;
}

#navbar .navbar-collapse>.navbar-right>li>a {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
}


.header {
    background: URL(../img/image.png) repeat-y;
    background-color: black;
    -moz-background-size: 1400px;
    /* Firefox 3.6+ */
    -webkit-background-size: 1400px;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 1400px;
    /* Opera 9.6+ */
    background-size: 1400px;
    /* Современные браузеры */
    background-position-y: -116px;
}



.header-h2 {
    color: white;

}

.header>.container {
    padding-left: 24px;
}

.header>.container>.col-xs-12.col-md-8 {
    padding-top: 72px;
}

.header>.container>.col-xs-12.col-md-8>h1 {
    font-size: 80px;
}

.header>.container>.col-xs-12.col-md-8>h2 {
    font-family: "Josefin Sans";
    margin-top: 18px;
    font-size: 37px;
    line-height: 41px;
    font-weight: 400;
}

.header>.container>.col-xs-12.col-md-8>hr {
    margin-left: 5px;
    border: solid 1px white;
    width: 62px;
    float: left;
}

.header>.container>.col-xs-12.col-md-8 p {
    color: #87817d;
    float: left;
    width: 65%;
    font-size: 16px;
}


.btn-coustom {
    margin-left: 5px;
    margin-top: 8px;
    border: solid 2px white;
    border-radius: 0px;
    padding: 9px 30px;
}

.btn-coustom>a {
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.header>.container>.col-xs-12.col-md-4 {
    margin: auto;
}

.header>.container>.col-xs-12.col-md-4>div {
    padding: 15px;
    background-color: #f5f5f5;
}

.header>.container>.col-xs-12.col-md-4>div>p {
    font-style: italic;
}

.header>.container>.col-xs-12.col-md-4>p {
    background-color: #f5f5f5;
}

.header-form {
    background: white;
    padding-top: 10px;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: 40%;
}

form>h4 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

form>h4>span {
    color: darkorange;
}

.try-free-from {
    width: 70%;
    margin: 15px 50px;
    padding-bottom: 21px;
    border: none;
}

.get-started {
    width: 100%;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #ff9b51;
    height: 53px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-footer {
    margin-top: 138px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 75px;
}

.header-footer-background {
    background-color: rgba(255, 255, 255, 0.45);
}

.header-footer h4 {
    font-family: "Ubuntu";
    font-weight: 700;
    color: rgba(0,0,0,0.7);
}


.header-footer p {
    color: rgba(0,0,0,0.5);
}

.header-footer .col-lg-2,
.header-footer .col-lg-1 i {
    margin-top: 20px;
}

.header-footer .col-lg-2 {
    margin-left: -22px;
    margin-right: 22px;
}

.header-footer .col-lg-2 i,
.header-footer .col-lg-1 i {
    font-size: 46px;
    color: rgba(0, 0, 0, 0.1)
}

.header-footer .col-lg-2 a:first-child {
    margin-right: 25px;
}

.header-footer .col-lg-2:nth-child(2n-1) a:first-child {
    margin-right: 50px;
}

.header-footer .col-lg-1 a.rss {
    margin: 0;
}

@media screen and (min-width:1401px) {
    .header {
        background: URL(../img/image.png) repeat-y;
        background-color: black;
        -moz-background-size: 1920px;
        /* Firefox 3.6+ */
        -webkit-background-size: 1920px;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 1920px;
        /* Opera 9.6+ */
        background-size: 1920px;
        /* Современные браузеры */
        background-position-y: -116px;
    }
}

}
col-xs-1>div {
    width: 100%;
    height: 20px;
    background-color: black;
}

.tabs-block {
    margin-top: 20px;
}   


.tabs-block .hidden {

}

.tabs-block .col-xs-5 h4 {
    font-weight: 700;
}

.active-tab {
    background-color: darkorange !important;
}

.tabs-block p {
    text-indent: 1.5em;
}

.tabs-block-btn {
    display: block;
    color: white;
    background-color: darkorange;
    width: 120px;
    height: 45px;
    border: solid 0px;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.tabs-block-bakcground {
    margin-top: 0;
    background-color: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 120px;
}

.sub-list-section>.col-md-6:first-child {
    padding-top: 110px;
}

.sub-list-section>.col-md-5:last-child {
    padding-top: 95px;
    padding-right: 0;
}

.fa-cloud-upload {
    font-size: 15px !important;
    color: darkorange;
}

.sub-list-section span {
    display: block;
    border: solid 2px orange;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.margin-10 {
    margin: -10px 0 0 -20px;
    ;
}

.fa-cloud-download {
    font-size: 15px !important;
    color: darkorange;
}

.margin-11 {
    margin: -20px 0 0 -5px;
}

.standard-picture-section-background {
    background: #f5f5f5;
}

.sub-list-section {
    padding-bottom: 110px;
}

.standard-picture-section {
    padding-top: 96px;
    padding-bottom: 53px;
}

.standard-picture-section .col-md-6:first-child {
    padding-left: 30px;
    padding-right: 60px;
}

.why-this-is-awesome h2,
.why-this-is-awesome hr,
.why-this-is-awesome p {
    text-align: center;
}

.why-this-is-awesome {
    padding-top: 80px;
    padding-bottom: 48px;
}

.why-this-is-awesome .col-xs-12 .fa {
    color: darkorange;
    font-size: 32px;
}

.why-this-is-awesome .col-xs-12:nth-of-type(2) .border-radius-fa {
    padding-left: 15px;
}

.why-this-is-awesome .col-xs-12:nth-of-type(3) .border-radius-fa {
    padding-left: 26px;
}

.border-radius-fa {
    height: 70px;
    width: 70px;
    border: 2px solid darkorange;
    border-radius: 100%;
    padding: 17px 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.why-this-is-awesome h3 {
    text-align: center;
    margin-left: 15px;
}

.why-this-is-awesome p {
    margin-left: 7px;
}

.pricing-options-background {
    background-color: #f5f5f5;
}

.pricing-options h2,
.pricing-options hr,
.pricing-options p {
    text-align: center;
}

.pricing-options {
    padding-top: 80px;
    padding-bottom: 95px;
}

.product>.header {
    background-image: none;
    background-color: #333333;
    width: auto;
    border-bottom: 2px solid white;
    margin: 0;
    float: left;
    width: 100%;
}

.product>.header>h3 {
    color: white;
    text-align: center;
}

.product>.content {
    background-image: none;
    background-color: #333333;
    margin: 0;
    float: left;
    width: 100%;
    height: 150px;
}

.product>.content>h3 {
    color: white;
    text-align: center;
}

.product>.content>p {
    font-style: italic;
    text-align: center;
    
}

.product>.footer {
    background-image: none;
    background-color: darkorange;
    border: solid 3px darkorange;
    margin: 0;
    float: left;
    width: 100%;
}

.product>.footer>h4 {
    color: white;
    text-align: center;
}

.product>.description {
    background: white;
    float: left;
    width: 100%;
}

.product>.description>p {
    text-align: center;
    line-height: 45px;
}

.pricing-options .col-md-4:nth-of-type(2n-1) {
    padding-top: 120px;
    padding-left: 22px;
}

.pricing-options .col-md-4:nth-of-type(2n) {
    padding-top: 85px;
    padding-left: 26px;
    padding-right: 10px;
}

.pricing-options .col-md-4:last-of-type {
    padding-left: 30px;
    padding-right: 10px;
}

.what-our-customers-are-saying {
    padding-top: 80px;
    padding-bottom: 155px;
}

.what-our-customers-are-saying>.col-md-4 {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

.what-our-customers-are-saying>.col-md-4 p {
    text-align: left;
}

.what-our-customers-are-saying>.col-md-4 .col-xs-4 {
    padding-left: 0;
}

.what-our-customers-are-saying h2,
.what-our-customers-are-saying hr,
.what-our-customers-are-saying p {
    text-align: center;
}

.what-our-customers-are-saying>.col-md-4>div:first-of-type {
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 25px;
}

.what-our-customers-are-saying>.col-md-4>div:first-of-type>p {
    font-style: italic;
}

.paralax-background {
    position: fixed;
    background-image: url(../img/u25_state0.png);
    left: 50%;
    top: 0;
    width: 100%;
    margin-left: 50%;
}

.parallax-window {
    min-height: 320px;
    background: black;
    padding-top: 60px;
}

.parallax-window>h2,
.parallax-window>p {
    text-align: center;
}

.parallax-window>div {
    position: absolute;
    margin-left: 50%;
    margin-top: 30px;
    left: -60px;
}

.contact-us {
    padding-top: 80px;
    padding-bottom: 67px;
}

.contact-us>h2,
.contact-us>hr,
.contact-us>p {
    text-align: center;
}

form.contact-us-form {
    margin-top: 80px;
    padding: 10px;
}

#contact-us-name,
#contact-us-email,
#contact-us-object {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    height: 40px;
}

#contact-us-textarea {
    width: 100%;
    height: 170px;
    border: none;
}

.send-message {
    margin-top: 15px;
    height: 45px;
    width: 145px;
    border: 0px;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
    position: relative;
    left: -65px;
    bottom: 5px;
    margin-left: 50%;
}

body>footer {
    margin: 0;
    padding: 0;
}

footer>img {
    width: 690px;
    height: 50px;
}

.footer-background {
    background-color: black;
}

footer>.footer>a {
    display: inline;
    color: #f5f5f5;
    font-size: 25px;
    letter-spacing: 20px;
}

footer>.footer {
    padding-top: 22px;
    text-align: center;
}

.img-sub-list-section {
    margin: 0 auto;
}

.img-standard-picture-section {
    margin: 0 auto;
}

.img-tabs {
    margin: 0 auto;
}

.social-header {
    text-align: center;
    margin-top: 25px;
}

.social-header>a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 60px;
    letter-spacing: 25px;
}
h2 {
    font-size:36px;;
    font-weight: 300;
}
hr {
    width: 65px;
    color: darkorange;
    border: 1px solid ;
}
p {
    color: #a4a5a8;
}


.hr-left>hr {
    margin-right: 100% ;
}

.parallax-window>h2,
.parallax-window>hr {
    color: white;
}

.slide h4 {
    font-weight: 900;
    font-size: 22px;
}

.h4-center {
    text-align: center;
}

.fa:hover {
    text-decoration: none;
}
.fa:focus {
    text-decoration: none;
}

.header-btn>a:hover{
    text-decoration: none;
}
.header-btn>a:focus{
    text-decoration: none;
}

.custom-btn {
    border: none;
    height: 100px;
    width: 100px;
    float: left;
    background-color: black;
    color: white;
    padding: 40px 35px;
}




li.active {
    background-color: darkorange;
}

.carousel-inner {
    max-width: 754px !important;
}
@media screen and (max-width:420px) {
    .custom-btn {
    width: 70px;
    height: 70px;
    padding: 26px 18px;
    }

